{% extends "store/base.html" %} 

{% load static %}

{% block content %}

    <!-- Cart sidebar Start -->
    <div class="gi-side-cart-overlay w-full h-screen fixed top-[0] left-[0] bg-[#000000cc] z-[17] hidden"></div>
    <div id="gi-side-cart" class="gi-side-cart w-[350px] max-[480px]:w-[300px] h-full pt-[15px] px-[20px] text-[14px] font-normal fixed z-[17] top-[0] right-0 left-auto block transition-all duration-[0.5s] ease delay-0 bg-[#fff] overflow-auto">
        <div class="gi-cart-inner relative z-[9] flex flex-col h-full justify-between">
            <div class="gi-cart-top">
                <div class="gi-cart-title w-full flex flex-wrap justify-between">
                    <span class="cart_title text-[15px] text-[#4b5966] font-Poppins font-semibold mb-[20px]">My Cart</span>
                    <a href="javascript:void(0)" class="gi-cart-close relative border-[0] text-[30px] leading-[20px] text-[#4b5966]">
                        <i class="fi-rr-cross-small text-[20px] leading-[0]"></i>
                    </a>
                </div>
                <ul class="gi-cart-pro-items">
                    <li class="mb-[15px] p-[15px] flex overflow-hidden border-[1px] border-solid border-[#eee] rounded-[5px]">
                        <a href="product-left-sidebar.html" class="gi-pro-img flex grow-[1] basis-[20%] items-center"><img src="{% static 'assets/img/product-images/25_1.jpg' %}" class="w-full" alt="product"></a>
                        <div class="gi-pro-content relative grow-[1] basis-[70%] pl-[15px] overflow-hidden">
                            <a href="product-left-sidebar.html" class="cart-pro-title w-full pr-[30px] text-[#777] whitespace-normal overflow-hidden text-ellipsis block text-[15px] leading-[18px] font-normal">Fresh Lichi</a>
                            <span class="cart-price text-[14px] block mt-[5px]"><span class="text-[#777] font-semibold text-[16px]">$25.00</span> x 1 kg</span>
                            <div class="qty-plus-minus border-[1px] border-solid border-[#eee] h-[35px] overflow-hidden relative w-[85px] flex items-center justify-between py-[7px] mt-[7px]">
                                <input class="qty-input" type="text" name="gi-qtybtn" value="1">
                            </div>
                            <a href="javascript:void(0)" class="remove leading-[15px] absolute top-[0] right-[0] pl-[10px] text-[#ff0000] text-[22px]">×</a>
                        </div>
                    </li>
                    <li class="mb-[15px] p-[15px] flex overflow-hidden border-[1px] border-solid border-[#eee] rounded-[5px]">
                        <a href="product-left-sidebar.html" class="gi-pro-img flex grow-[1] basis-[20%] items-center"><img src="{% static 'assets/img/product-images/17_1.jpg' %}" class="w-full" alt="product"></a>
                        <div class="gi-pro-content relative grow-[1] basis-[70%] pl-[15px] overflow-hidden">
                            <a href="product-left-sidebar.html" class="cart-pro-title w-full pr-[30px] text-[#777] whitespace-normal overflow-hidden text-ellipsis block text-[15px] leading-[18px] font-normal">Ginger - Organic</a>
                            <span class="cart-price text-[14px] block mt-[5px]"><span class="text-[#777] font-semibold text-[16px]">$5.00</span> x 1 250g</span>
                            <div class="qty-plus-minus border-[1px] border-solid border-[#eee] h-[35px] overflow-hidden relative w-[85px] flex items-center justify-between py-[7px] mt-[7px]">
                                <input class="qty-input" type="text" name="gi-qtybtn" value="1">
                            </div>
                            <a href="javascript:void(0)" class="remove leading-[15px] absolute top-[0] right-[0] pl-[10px] text-[#ff0000] text-[22px]">×</a>
                        </div>
                    </li>
                    <li class="mb-[15px] p-[15px] flex overflow-hidden border-[1px] border-solid border-[#eee] rounded-[5px]">
                        <a href="product-left-sidebar.html" class="gi-pro-img flex grow-[1] basis-[20%] items-center"><img src="{% static 'assets/img/product-images/2_1.jpg' %}" class="w-full" alt="product"></a>
                        <div class="gi-pro-content relative grow-[1] basis-[70%] pl-[15px] overflow-hidden">
                            <a href="product-left-sidebar.html" class="cart-pro-title w-full pr-[30px] text-[#777] whitespace-normal overflow-hidden text-ellipsis block text-[15px] leading-[18px] font-normal">Dates Value Pack Pouch</a>
                            <span class="cart-price text-[14px] block mt-[5px]"><span class="text-[#777] font-semibold text-[16px]">$59.00</span> x 1 pack</span>
                            <div class="qty-plus-minus border-[1px] border-solid border-[#eee] h-[35px] overflow-hidden relative w-[85px] flex items-center justify-between py-[7px] mt-[7px]">
                                <input class="qty-input" type="text" name="gi-qtybtn" value="1">
                            </div>
                            <a href="javascript:void(0)" class="remove leading-[15px] absolute top-[0] right-[0] pl-[10px] text-[#ff0000] text-[22px]">×</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="gi-cart-bottom">
                <div class="cart-sub-total flex flex-wrap justify-between pt-[0] pb-[8px] border-t-[1px] border-solid border-[#eee] mt-[20px]">
                    <table class="table cart-table w-full">
                        <tbody class="mt-[10px]">
                            <tr>
                                <td class="text-left font-medium text-[#777] p-[6px]">Sub-Total :</td>
                                <td class="text-right font-bold text-[#777] p-[6px]">$300.00</td>
                            </tr>
                            <tr>
                                <td class="text-left font-medium text-[#777] p-[6px]">VAT (20%) :</td>
                                <td class="text-right font-bold text-[#777] p-[6px]">$60.00</td>
                            </tr>
                            <tr>
                                <td class="text-left font-medium text-[#777] p-[6px]">Total :</td>
                                <td class="text-right font-bold text-[#777] primary-color p-[6px]">$360.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="cart_btn flex justify-between mb-[20px]">
                    <a href="cart.html" class="gi-btn-1 w-[48%] h-[40px] block uppercase font-semibold text-[14px] py-[8px] px-[15px] leading-[22px] bg-[#4b5966] text-[#fff] border-[0] transition-all duration-[0.3s] ease-in-out overflow-hidden text-center relative rounded-[5px] hover:bg-[#5caf90] hover:text-[#fff]">View Cart</a>
                    <a href="checkout.html" class="gi-btn-2 w-[48%] h-[40px] block uppercase font-semibold text-[14px] py-[8px] px-[15px] leading-[22px] bg-[#5caf90] text-[#fff] text-center rounded-[5px] transition-all dummy-[0.3s] ease-in-out hover:bg-[#4b5966]">Checkout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart sidebar End -->

    <!-- Breadcrumb start -->
    <div class="gi-breadcrumb mb-[40px]">
        <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px] relative">
            <div class="flex flex-wrap w-full">
                <div class="w-full px-[12px]">
                    <div class="flex flex-wrap m-0 p-[15px] border-[1px] border-solid border-[#eee] rounded-b-[5px] border-t-[0] gi_breadcrumb_inner">
                        <div class="min-[768px]:w-[50%] w-full px-[12px]">
                            <h2 class="gi-breadcrumb-title text-[#4b5966] block text-[15px] font-Poppins leading-[22px] font-semibold my-[0] mx-auto capitalize max-[767px]:mb-[5px] max-[767px]:text-center">Faq Page</h2>
                        </div>
                        <div class="min-[768px]:w-[50%] w-full px-[12px]">
                            <!-- gi-breadcrumb-list start -->
                            <ul class="gi-breadcrumb-list text-right max-[767px]:text-center">
                                <li class="gi-breadcrumb-item inline-block text-[14px] font-normal tracking-[0.02rem] leading-[1.2] capitalize"><a href="index.html" class="relative text-[#4b5966]">Home</a></li>
                                <li class="gi-breadcrumb-item inline-block text-[14px] font-normal tracking-[0.02rem] leading-[1.2] capitalize active">Faq Page</li>
                            </ul>
                            <!-- gi-breadcrumb-list end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- Faq section -->
    <section class="gi-faq py-[40px] max-[767px]:py-[30px]">
        <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
            <div class="section-title-2 w-full mb-[20px] pb-[20px] flex flex-col justify-center text-center px-[12px] items-center">
                <h2 class="gi-title mb-[0] font-manrope text-[26px] font-semibold text-[#4b5966] relative inline p-[0] capitalize leading-[1]">frequently asked <span class="text-[#5caf90]">questions</span></h2>
                <p class="max-w-[400px] mt-[15px] text-[14px] text-[#777] text-center leading-[23px]">Customer service management.</p>
            </div>
            <div class="w-full flex flex-wrap">
                <div class="min-[992px]:w-[50%] w-full px-[12px]">
                    <div class="gi-accordion style-1">
                        <div class="gi-accordion-item border-[#eee] overflow-hidden mb-[10px]">
                            <h4 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                What is the multi vendor services?
                            </h4>
                            <div class="gi-accordion-body show py-[15px] text-[14px] text-[#777] leading-[24px] hidden">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem
                                Ipsum has been the industry's standard <code class="text-[#5caf90] text-[14px] font-semibold">dummy text</code> ever since the 1500s,
                                when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                        <div class="gi-accordion-item border-[#eee] overflow-hidden mb-[10px]">
                            <h4 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                How to buy many products at a time?
                            </h4>
                            <div class="gi-accordion-body py-[15px] text-[14px] text-[#777] leading-[24px] hidden">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem
                                Ipsum has been the industry's standard <code class="text-[#5caf90] text-[14px] font-semibold">dummy text</code> ever.
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                        <div class="gi-accordion-item border-[#eee] overflow-hidden mb-[10px]">
                            <h4 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                Refund policy for customer.
                            </h4>
                            <div class="gi-accordion-body py-[15px] text-[14px] text-[#777] leading-[24px] hidden">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                        <div class="gi-accordion-item border-[#eee] overflow-hidden mb-[10px]">
                            <h4 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                Exchange policy for customer.
                            </h4>
                            <div class="gi-accordion-body py-[15px] text-[14px] text-[#777] leading-[24px] hidden">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem
                                Ipsum has been the industry's standard <code class="text-[#5caf90] text-[14px] font-semibold">dummy text</code> ever since the 1500s,
                                when an Ipsum has been the industry's
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                        <div class="gi-accordion-item border-[#eee] overflow-hidden">
                            <h2 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                Give a way products available.
                            </h2>
                            <div class="gi-accordion-body py-[15px] text-[14px] text-[#777] leading-[24px] hidden">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem
                                Ipsum has been the industry's standard <code class="text-[#5caf90] text-[14px] font-semibold">dummy text</code> ever since the 1500s,
                                when an
                                Ipsum has been the industry's standard <code class="text-[#5caf90] text-[14px] font-semibold">dummy text</code> ever since the 1500s.
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="min-[992px]:w-[50%] w-full px-[12px] max-[991px]:mt-[30px]">
                    <div class="gi-accordion style-1">
                        <div class="gi-accordion-item border-[#eee] overflow-hidden mb-[10px]">
                            <h4 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                Refund policy for customer.
                            </h4>
                            <div class="gi-accordion-body show py-[15px] text-[14px] text-[#777] leading-[24px] hidden">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem
                                Ipsum has been the industry's standard <code class="text-[#5caf90] text-[14px] font-semibold">dummy text</code> ever since the 1500s,
                                when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                        <div class="gi-accordion-item border-[#eee] overflow-hidden mb-[10px]">
                            <h4 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                Exchange policy for customer.
                            </h4>
                            <div class="gi-accordion-body py-[15px] text-[14px] text-[#777] leading-[24px] hidden">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem
                                Ipsum has been the industry's standard <code class="text-[#5caf90] text-[14px] font-semibold">dummy text</code> ever since the 1500s,
                                when an Ipsum has been the industry's
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                        <div class="gi-accordion-item border-[#eee] overflow-hidden mb-[10px]">
                            <h4 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                How to buy many products at a time?
                            </h4>
                            <div class="gi-accordion-body py-[15px] text-[14px] text-[#777] leading-[24px] hidden">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem
                                Ipsum has been the industry's standard <code class="text-[#5caf90] text-[14px] font-semibold">dummy text</code> ever.
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                        <div class="gi-accordion-item border-[#eee] overflow-hidden mb-[10px]">
                            <h2 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                Give a way products available.
                            </h2>
                            <div class="gi-accordion-body py-[15px] text-[14px] text-[#777] leading-[24px] hidden">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem
                                Ipsum has been the industry's standard <code class="text-[#5caf90] text-[14px] font-semibold">dummy text</code> ever since the 1500s,
                                when an
                                Ipsum has been the industry's standard <code class="text-[#5caf90] text-[14px] font-semibold">dummy text</code> ever since the 1500s.
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                        <div class="gi-accordion-item border-[#eee] overflow-hidden">
                            <h4 class="gi-accordion-header m-[0] py-[15px] pl-[30px] pr-[35px] bg-[#f8f8fb] text-[#4b5966] text-[16px] leading-[28px] font-medium relative font-Poppins border-[1px] border-solid border-[#eee] rounded-[5px] tracking-[0.01rem] max-[767px]:text-[15px]">
                                What is the multi vendor services?
                            </h4>
                            <div class="gi-accordion-body py-[15px] text-[14px] text-[#777] leading-[24px] hidden">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Faq section End -->

{% endblock content %}  