 {% load static %}
 <!-- Footer Start -->
 <footer class="gi-footer bg-[#fff] border-t-[1px] border-solid border-[#eee] mt-[40px]">
    <div class="footer-container">
        <div class="footer-top py-[80px] max-[767px]:py-[60px]">
            <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
                <div class="w-full flex flex-wrap">
                    <div class="min-[992px]:w-[25%] px-[12px] w-full gi-footer-cat wow fadeInUp">
                        <div class="gi-footer-widget gi-footer-company flex flex-col">
                            <img src="{% static 'assets/img/logo/logo.png' %}" class="gi-footer-logo max-w-[144px] max-[767px]:max-w-[130px]  mb-[30px]" alt="footer logo">
                            <p class="gi-footer-detail max-w-[400px] mb-[30px] p-[0] text-[14px] leading-[27px] font-normal text-[#777] inline-block relative max-[1199px]:text-[14px]">Grabit is the biggest market of grocery products. Get your
                                daily needs from our store.</p>
                            <div class="gi-app-store mb-[30px] flex flex-row max-[1199px]:flex-col max-[991px]:flex-row max-[320px]:flex-col">
                                <a href="#" class="app-img"><img src="{% static 'assets/img/app/android.png' %}" class="adroid max-w-[140px] max-[1399px]:max-w-[120px]  mb-[15px] rounded-[5px] mr-[15px]" alt="apple"></a>
                                <a href="#" class="app-img"><img src="{% static 'assets/img/app/apple.png' %}" class="apple max-w-[140px] max-[1399px]:max-w-[120px] mb-[15px] rounded-[5px]" alt="apple"></a>
                            </div>
                        </div>
                    </div>
                    <div class="min-[992px]:w-[16.66%] gi-footer-toggle px-[12px] w-full gi-footer-info wow fadeInUp" data-wow-delay="0.2s">
                        <div class="gi-footer-widget">
                            <h4 class="gi-footer-heading text-[18px] font-medium mb-[20px] text-[#4b5966] leading-[1.2] tracking-[0] relative block w-full pb-[15px] capitalize font-Poppins border-b-[1px] border-solid border-[#eee] max-[991px]:mb-[20px] max-[991px]:text-[14px]">Category</h4>
                            <div class="gi-footer-links gi-footer-dropdown">
                                <ul class="align-itegi-center">
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="shop-left-sidebar-col-3.html" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Dairy & Milk</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="shop-banner-left-sidebar-col-3.html" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Snack & Spice</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="shop-full-width-col-5.html" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Fast Food</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="shop-list-left-sidebar.html" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Juice & Drinks</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="shop-list-full-col-2.html" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Bakery</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center">
                                        <a href="shop-banner-right-sidebar-col-4.html" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Seafood</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="min-[992px]:w-[16.66%] gi-footer-toggle px-[12px] w-full gi-footer-account wow fadeInUp" data-wow-delay="0.3s">
                        <div class="gi-footer-widget">
                            <h4 class="gi-footer-heading text-[18px] font-medium mb-[20px] text-[#4b5966] leading-[1.2] tracking-[0] relative block w-full pb-[15px] capitalize font-Poppins border-b-[1px] border-solid border-[#eee] max-[991px]:mb-[20px] max-[991px]:text-[14px]">Company</h4>
                            <div class="gi-footer-links gi-footer-dropdown">
                                <ul class="align-itegi-center">
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="{% url 'aboutUs' %}" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">About us</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="{% url 'track-order' %}" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Delivery</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="{% url 'privacy-policy' %}" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Legal Notice</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="{% url 'terms-condition' %}" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Terms & conditions</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="{% url 'checkout' %}" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Secure payment</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center">
                                        <a href="{% url 'contact-us' %}" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="min-[992px]:w-[16.66%] gi-footer-toggle px-[12px] w-full gi-footer-service wow fadeInUp" data-wow-delay="0.4s">
                        <div class="gi-footer-widget">
                            <h4 class="gi-footer-heading text-[18px] font-medium mb-[20px] text-[#4b5966] leading-[1.2] tracking-[0] relative block w-full pb-[15px] capitalize font-Poppins border-b-[1px] border-solid border-[#eee] max-[991px]:mb-[20px] max-[991px]:text-[14px]">Account</h4>
                            <div class="gi-footer-links gi-footer-dropdown">
                                <ul class="align-itegi-center">
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="{% url 'register' %}" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Sign In</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="{% url 'cart' %}" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">View Cart</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="{% url 'privacy-policy' %}" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Return Policy</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="#" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Become a Vendor</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                        <a href="#" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Affiliate Program</a>
                                    </li>
                                    <li class="gi-footer-link m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center">
                                        <a href="{% url 'checkout' %}" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">Payments</a>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="min-[992px]:w-[25%] gi-footer-toggle px-[12px] w-full gi-footer-cont-social mb-[-20px] wow fadeInUp" data-wow-delay="0.5s">
                        <div class="gi-footer-contact mb-[30px] max-[991px]:mb-[0]">
                            <div class="gi-footer-widget">
                                <h4 class="gi-footer-heading text-[18px] font-medium mb-[20px] text-[#4b5966] leading-[1.2] tracking-[0] relative block w-full pb-[15px] capitalize font-Poppins border-b-[1px] border-solid border-[#eee] max-[991px]:mb-[20px] max-[991px]:text-[14px]">Contact</h4>
                                <div class="gi-footer-links gi-footer-dropdown">
                                    <ul class="align-itegi-center">
                                        <li class="gi-footer-link gi-foo-location m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                            <span class="w-[25px] flex basis-auto grow-[0] shrink-[0]">
                                                <i class="fi fi-rr-marker location leading-[0] text-[18px] mt-[5px] h-[25px] text-[#5caf90] w-[auto]"></i>
                                            </span>
                                            <p class="m-[0] text-[14px] font-normal text-[#777]">2548 Broaddus Maple Court, Madisonville KY 4783, USA.</p>
                                        </li>
                                        <li class="gi-footer-link gi-foo-call m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                            <span class="w-[25px] flex basis-auto grow-[0] shrink-[0]">
                                                <i class="fi fi-brands-whatsapp leading-[0] text-[18px] h-[20px] text-[#5caf90] w-[auto]"></i>
                                            </span>
                                            <a href="tel:+009876543210" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">+00 9876543210</a>
                                        </li>
                                        <li class="gi-footer-link gi-foo-mail m-[0] leading-[1.5] border-[0] p-[0] font-normal text-[16px] text-[#5caf90] flex items-center mb-[16px]">
                                            <span class="w-[25px] flex basis-auto grow-[0] shrink-[0]">
                                                <i class="fi fi-rr-envelope leading-[0] text-[18px] h-[20px] text-[#5caf90] w-[auto]"></i>
                                            </span>
                                            <a href="mailto:example@email.com" class="transition-all duration-[0.3s] ease-in-out text-[14px] leading-[20px] p-[0] text-[#777] mb-[0] inline-block relative break-all tracking-[0] font-normal hover:text-[#5caf90] hover:opacity-[1]">example@email.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="gi-footer-social">
                            <div class="gi-footer-widget">
                                <div class="gi-footer-links gi-footer-dropdown">
                                    <ul class="align-itegi-center flex flex-wrap">
                                        <li class="gi-footer-link pr-[5px]">
                                            <a href="#" class="h-[30px] w-[30px] bg-[#4b5966] rounded-[5px] capitalize flex items-center justify-center text-[15px]"><i class="gicon gi-facebook text-[16px] text-[#fff]" aria-hidden="true"></i></a>
                                        </li>
                                        <li class="gi-footer-link pr-[5px]">
                                            <a href="#" class="h-[30px] w-[30px] bg-[#4b5966] rounded-[5px] capitalize flex items-center justify-center text-[15px]"><i class="gicon gi-twitter text-[16px] text-[#fff]" aria-hidden="true"></i></a>
                                        </li>
                                        <li class="gi-footer-link pr-[5px]">
                                            <a href="#" class="h-[30px] w-[30px] bg-[#4b5966] rounded-[5px] capitalize flex items-center justify-center text-[15px]"><i class="gicon gi-linkedin text-[16px] text-[#fff]" aria-hidden="true"></i></a>
                                        </li>
                                        <li class="gi-footer-link pr-[5px]">
                                            <a href="#" class="h-[30px] w-[30px] bg-[#4b5966] rounded-[5px] capitalize flex items-center justify-center text-[15px]"><i class="gicon gi-instagram text-[16px] text-[#fff]" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom py-[10px] max-[991px]:py-[15px] border-t-[1px] border-solid border-[#eee] bg-[#f8f8fb]">
            <div class="flex flex-wrap justify-between items-center mx-auto min-[1600px]:max-w-[1600px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
                <div class="w-full flex flex-wrap">
                    <div class="gi-bottom-info flex flex-row items-center justify-between w-full px-[12px] max-[991px]:flex-col">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copy max-[991px]:mb-[15px]">
                            <div class="footer-bottom-copy">
                                <div class="gi-copy text-[#777] text-[13px] tracking-[1px] text-center font-light">Copyright © 
                                    <a class="site-name text-[#5caf90]" href="index.html">Grabit</a>
                                    all rights reserved. Powered by Grabit.</div>
                            </div>
                        </div>
                        <!-- Footer Copyright End -->
                        <!-- Footer payment -->
                        <div class="footer-bottom-right">
                            <div class="footer-bottom-payment flex justify-content-center">
                                <div class="payment-link">
                                    <img src="{% static 'assets/img/hero-bg/payment.png' %}" alt="payment">
                                </div>
                            </div>
                        </div>
                        <!-- Footer payment -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Quickview Modal -->
<div class="gi-modal-overlay w-full h-screen hidden fixed top-0 left-0 z-[30] bg-[#000000b3]"></div>
<div class="modal gi-modal max-[575px]:w-full fixed top-[50%] left-[50%] z-[30] max-[767px]:w-full hidden max-[767px]:max-h-full max-[767px]:overflow-y-auto">
    <div class="modal-dialog modal-dialog-centered h-full my-[0%] mx-auto max-w-[900px] w-[900px] max-[991px]:max-w-[650px] max-[991px]:w-[650px] max-[767px]:w-[80%] max-[767px]:h-auto max-[767px]:max-w-[80%] max-[767px]:m-[0] max-[767px]:py-[35px] max-[767px]:mx-auto max-[575px]:w-[90%] transition-transform duration-[0.3s] ease-out">
        <div class="modal-content quickview-modal p-[30px] relative bg-[#fff] rounded-[5px] max-[360px]:p-[15px]">
            <button type="button" class="gi-close-modal qty_close absolute top-[10px] right-[10px] leading-[18px] max-[420px]:top-[5px] max-[420px]:right-[5px]"></button>
            <div class="modal-body mx-[-12px] max-[767px]:mx-[0]">
                <div class="w-full flex flex-wrap w-full">
                    <div class="min-[768px]:w-[41.66%] px-[12px] max-[767px]:px-[0] w-full">
                        <div class="single-pro-img single-pro-img-no-sidebar h-full border-[1px] border-solid border-[#eee] rounded-[5px] overflow-hidden">
                            <div class="single-product-scroll h-full">
                                <div class="single-slide h-full flex items-center zoom-image-hover">
                                    <img class="img-responsive h-full w-full" src="{% static 'assets/img/product-images/10_1.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="min-[768px]:w-[58.33%] px-[12px] max-[767px]:px-[0] w-full max-[767px]:mt-[30px]">
                        <div class="quickview-pro-content">
                            <h5 class="gi-quick-title">
                                <a href="product-left-sidebar.html" class="mb-[15px] block text-[#4b5966] text-[22px] leading-[1.5] font-medium max-[991px]:text-[20px]">Mix nuts premium quality organic dried fruit 250g pack</a>
                            </h5>
                            <div class="gi-quickview-rating flex mb-[15px]">
                                <i class="gicon gi-star fill text-[14px] text-[#f27d0c] mr-[5px]"></i>
                                <i class="gicon gi-star fill text-[14px] text-[#f27d0c] mr-[5px]"></i>
                                <i class="gicon gi-star fill text-[14px] text-[#f27d0c] mr-[5px]"></i>
                                <i class="gicon gi-star fill text-[14px] text-[#f27d0c] mr-[5px]"></i>
                                <i class="gicon gi-star text-[14px] text-[#777] mr-[5px]"></i>
                            </div>
                            <div class="gi-quickview-desc mb-[10px] text-[15px] leading-[24px] text-[#777] font-light">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                                since the 1900s,</div>
                            <div class="gi-quickview-price pt-[5px] pb-[10px] flex items-center justify-left">
                                <span class="new-price text-[#4b5966] font-bold text-[22px]">$50.00</span>
                                <span class="old-price text-[18px] ml-[10px] line-through text-[#777]">$62.00</span>
                            </div>
                            <div class="gi-pro-variation mt-[5px]">
                                <div class="gi-pro-variation-inner flex flex-col mb-[15px] gi-pro-variation-size gi-pro-size">
                                    <div class="gi-pro-variation-content">
                                        <ul class="gi-opt-size">
                                            <li class="h-[22px] py-[2px] px-[8px] cursor-pointer border-[1px] border-solid border-[#eee] text-[#fff] flex items-center justify-center text-[12px] leading-[22px] rounded-[3px] font-normal float-left mr-[5px] hover:bg-[#5caf90] hover:text-[#fff] hover:border-[#5caf90] active">
                                                <a href="javascript:void(0)" class="gi-opt-sz text-[#777]" data-tooltip="Small">250g</a>
                                            </li>
                                            <li class="h-[22px] py-[2px] px-[8px] cursor-pointer border-[1px] border-solid border-[#eee] text-[#fff] flex items-center justify-center text-[12px] leading-[22px] rounded-[3px] font-normal float-left mr-[5px] hover:bg-[#5caf90] hover:text-[#fff] hover:border-[#5caf90]">
                                                <a href="javascript:void(0)" class="gi-opt-sz text-[#777]" data-tooltip="Medium">500g</a>
                                            </li>
                                            <li class="h-[22px] py-[2px] px-[8px] cursor-pointer border-[1px] border-solid border-[#eee] text-[#fff] flex items-center justify-center text-[12px] leading-[22px] rounded-[3px] font-normal float-left mr-[5px] hover:bg-[#5caf90] hover:text-[#fff] hover:border-[#5caf90]">
                                                <a href="javascript:void(0)" class="gi-opt-sz text-[#777]" data-tooltip="Large">1kg</a>
                                            </li>
                                            <li class="h-[22px] py-[2px] px-[8px] cursor-pointer border-[1px] border-solid border-[#eee] text-[#fff] flex items-center justify-center text-[12px] leading-[22px] rounded-[3px] font-normal float-left mr-[5px] hover:bg-[#5caf90] hover:text-[#fff] hover:border-[#5caf90]">
                                                <a href="javascript:void(0)" class="gi-opt-sz text-[#777]" data-tooltip="Extra Large">2kg</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="gi-quickview-qty mt-[15px] inline-flex">
                                <div class="qty-plus-minus w-[100px] h-[43px] border-[1px] border-solid border-[#eee] overflow-hidden relative flex items-center justify-between rounded-[3px]">
                                    <input class="qty-input w-[40px] h-[50px] text-[#777] text-[14px] text-center outline-[0]" type="text" name="gi_qtybtn" value="1">
                                </div>
                                <div class="gi-quickview-cart">
                                    <button type="button" class="gi-btn-1 ml-[15px] transition-all duration-[0.3s] ease-in-out overflow-hidden text-center relative rounded-[5px] py-[10px] max-[767px]:py-[6px] px-[15px] max-[767px]:px-[10px] bg-[#4b5966] text-[#fff] border-[0] text-[15px] max-[767px]:text-[13px] tracking-[0] font-medium inline-flex items-center hover:bg-[#5caf90] hover:text-[#fff]"><i class="fi-rr-shopping-basket text-[14px] leading-[0] mr-[5px]"></i> Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quickview Modal end -->

<!-- Newsletter Modal Start -->
<div id="gi-popnews-bg"></div>
<div id="gi-popnews-box">
    <div id="gi-popnews-close" class="transition-all duration-[0.3s] ease-in-out absolute top-[0] right-[0] cursor-pointer h-[30px] w-[30px] text-[#ff0000] rounded-[100%] flex items-center justify-center text-[24px] leading-[1] opacity-[0.5] hover:opacity-[1]">×</div>
    <div class="mx-[-12px]">
        <div class="w-full flex flex-wrap">
            <div class="min-[768px]:w-[50%] w-full px-[12px] max-[767px]:hidden">
                <img src="{% static 'assets/img/bg/newsletter.png' %}" alt="newsletter" class="w-full rounded-[5px]">
            </div>
            <div class="min-[768px]:w-[50%] w-full px-[12px]">
                <div id="gi-popnews-box-content" class="h-full flex flex-col items-center justify-center">
                    <h2 class="text-[#4b5966] block text-[22px] leading-[33px] font-semibold mb-[10px] mx-auto leading-[0] capitalize">Newsletter.</h2>
                    <p class="text-[15px] leading-[28px] font-light mb-[1rem]">Subscribe the masterkart to get in touch and get the future update.</p>
                    <form id="gi-popnews-form" action="#" method="post">
                        <input type="email" name="newsemail" class="bg-transparent border-[1px] border-solid border-[#eee] text-[14px] mb-[27px] px-[15px] w-full h-[50px] outline-[0] rounded-[5px]" placeholder="Email Address" required>
                        <button type="button" class="gi-btn-2 transition-all duration-[0.3s] ease-in-out overflow-hidden text-center relative rounded-[5px] py-[10px] max-[360px]:py-[3px] px-[15px] max-[360px]:px-[10px] bg-[#5caf90] text-[#fff] border-[0] text-[14px] max-[360px]:text-[13px] tracking-[0] font-medium inline-flex items-center hover:bg-[#4b5966] hover:text-[#fff]" name="subscribe">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>        
</div>
<!-- Newsletter Modal end -->

<!-- Back to top  -->
<a class="gi-back-to-top inline-block bg-[#4b5966] w-[40px] h-[40px] text-center rounded-[4px] fixed bottom-[30px] right-[30px] opacity-[0] invisible z-[16] border-[1px] border-solid border-[#fff] hover:cursor-pointer hover:bg-[#000] hover:opacity-[1] max-[767px]:bottom-[15px] max-[767px]:right-[15px]"></a>

<!-- Feature tools -->
<div class="gi-tools-sidebar-overlay hidden w-full h-screen fixed top-0 left-0 bg-[#00000080] z-[16]"></div>
<div class="gi-tools-sidebar bg-[#fff] w-[300px] h-screen fixed right-0 top-0 transition-all duration-[0.3s] ease z-[17]">
    <a href="javascript:void(0)" class="gi-tools-sidebar-toggle in-out absolute top-[45%] right-[302px] h-[40px] w-[40px] bg-[#1d253199] transition-all duration-[0.3s] ease-in flex items-center justify-center text-[25px] z-[-1] rounded-[5px]">
        <i class="fi fi-rr-settings text-[#fff]"></i>
    </a>
    <div class="gi-bar-title mb-[15px] p-[15px] flex flex-row justify-between items-center border-b-[1px] border-solid border-[#17181c]">
        <h6 class="m-0 text-[17px] font-bold text-[#4b5966] leading-[1.2]">Tools</h6>
        <a href="javascript:void(0)" class="close-tools relative border-[0] text-[30px] leading-[20px] text-[#4b5966]">
            <i class="fi-rr-cross-small text-[20px] leading-[0]"></i>
        </a>
    </div>
    <div class="gi-tools-detail overflow-auto px-[15px] pb-[15px] h-[calc(100vh-72px)]">
        <div class="gi-tools-block">
            <h3 class="my-[15px] text-[14px] font-medium text-[#4b5966] font-Poppins leading-[1.2]">Select Color</h3>
            <ul class="gi-color">
                <li class="color-primary inline-block h-[35px] w-[35px] rounded-[5px] cursor-pointer align-middle m-[6px] relative active-variant"></li>
                <li class="color-1 inline-block h-[35px] w-[35px] rounded-[5px] cursor-pointer align-middle m-[6px] relative"></li>
                <li class="color-2 inline-block h-[35px] w-[35px] rounded-[5px] cursor-pointer align-middle m-[6px] relative"></li>
                <li class="color-3 inline-block h-[35px] w-[35px] rounded-[5px] cursor-pointer align-middle m-[6px] relative"></li>
                <li class="color-4 inline-block h-[35px] w-[35px] rounded-[5px] cursor-pointer align-middle m-[6px] relative"></li>
                <li class="color-5 inline-block h-[35px] w-[35px] rounded-[5px] cursor-pointer align-middle m-[6px] relative"></li>
                <li class="color-6 inline-block h-[35px] w-[35px] rounded-[5px] cursor-pointer align-middle m-[6px] relative"></li>
                <li class="color-7 inline-block h-[35px] w-[35px] rounded-[5px] cursor-pointer align-middle m-[6px] relative"></li>
                <li class="color-8 inline-block h-[35px] w-[35px] rounded-[5px] cursor-pointer align-middle m-[6px] relative"></li>
                <li class="color-9 inline-block h-[35px] w-[35px] rounded-[5px] cursor-pointer align-middle m-[6px] relative"></li>
            </ul>
        </div>
        <div class="gi-tools-block">
            <h3 class="my-[15px] text-[14px] font-medium text-[#4b5966] font-Poppins leading-[1.2]">Modes</h3>
            <div class="gi-tools-rtl flex flex-wrap flex-row justify-between">
                <div class="mode-primary gi-tools-item w-[125px] mb-[10px] text-center mode active-rtl ltr" data-gi-mode-tool="ltr">
                    <img src="{% static 'assets/img/tools/ltr.png' %}" alt="ltr" class="w-full p-[5px] rounded-[10px] border-[1px] border-solid border-[#17181c] hover:border-[#5caf90]">
                    <p class="m-0 capitalize">LTR</p>
                </div>
                <div class="gi-tools-item w-[125px] mb-[10px] text-center mode rtl" data-gi-mode-tool="rtl">
                    <img src="{% static 'assets/img/tools/rtl.png' %}" alt="rtl" class="w-full p-[5px] rounded-[10px] border-[1px] border-solid border-[#17181c] hover:border-[#5caf90]">
                    <p class="m-0 capitalize">RTL</p>
                </div>
            </div>
        </div>
        <div class="gi-tools-block">
            <h3 class="my-[15px] text-[14px] font-medium text-[#4b5966] font-Poppins leading-[1.2]">Dark Modes</h3>
            <div class="gi-tools-dark flex flex-wrap flex-row justify-between">
                <div class="mode-primary gi-dark-item mode w-[125px] mb-[10px] text-center active-dark light" data-gi-mode-tool="light">
                    <img src="{% static 'assets/img/tools/light.png' %}" alt="light" class="w-full p-[5px] rounded-[10px] border-[1px] border-solid border-[#17181c] hover:border-[#5caf90]">
                    <p class="m-0 capitalize">Light</p>
                </div>
                <div class="gi-dark-item w-[125px] mb-[10px] text-center mode dark" data-gi-mode-tool="dark">
                    <img src="{% static 'assets/img/tools/dark.png' %}" alt="dark" class="w-full p-[5px] rounded-[10px] border-[1px] border-solid border-[#17181c] hover:border-[#5caf90]">
                    <p class="m-0 capitalize">Dark</p>
                </div>
            </div>
        </div>
    </div>
</div>